
  <h1 class="subtitle text-center text-warning mb-4">
  Kickstart you fitness journey with Jimmy !</h1>
  <ul class="features-list list-unstyled text-center">
    <li class="mb-3">
      <span class="badge bg-success text-white p-3">
        <i class="bi bi-chat-dots"></i> Chat
      </span>
    </li>
    <li>
      <span class="badge bg-primary text-white p-3">
        <i class="bi bi-people"></i> Find a Buddy
      </span>
    </li>
  </ul>