<h1 class="main-heading">Dashboard</h1>
<p class="subtitle">Here are the features of the dashboard.</p>

<div class="bottom-bar">
  <a href="/chat" class="icon-button">
    <span>Chat</span>
  </a>
  <a href="/match" class="icon-button">
    <span>Match</span>
  </a>
  <a href="/fitness" class="icon-button">
    <span>Fitness</span>
  </a>
</div>
