<h1 class="main-heading">Dashboard</h1>
<p class="subtitle">Here are the features of the dashboard.</p>

<div class="bottom-bar">
  <a class="icon-button">
    <span>Chat</span>
  </a>
  <a class="icon-button">
    <span>Match</span>
  </a>
  <% if @user.fitness_profile %>
    <a href="<%= user_fitness_profile_path(@user, @user.fitness_profile) %>" class="icon-button">
      <span>Fitness</span>
    </a>
  <% else %>
    <a href="<%= new_user_fitness_profile_path(@user) %>" class="icon-button">
      <span>Create Fitness Profile</span>
    </a>
  <% end %>
  <a href="<%= profile_user_path(@user) %>" class="icon-button">
    <span>Profile</span>
  </a>
</div>
