<h1>Feature Introduction</h1>
<p>Here are the features of the dashboard.</p>

<div class="bottom-bar">
  <a href="/chat" class="icon-button">
    <span>Chat</span>
  </a>
  <a href="/match" class="icon-button">
    <span>Match</span>
  </a>
  <a href="/fitness" class="icon-button">
    <span>Fitness</span>
  </a>
  <a href="<%= profile_user_path(@user) %>" class="icon-button">
    <span>Profile</span>
  </a>
  <%= link_to "log out", logout_path %>
</div>
