<!-- app/views/shared/_confirm_modal.html.erb -->
<div class="modal fade" id="customConfirmModal" tabindex="-1" aria-labelledby="customConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="customConfirmModalLabel"><%= title %></h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= message %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= cancel_text %></button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmAction"><%= confirm_text %></button>
      </div>
    </div>
  </div>
</div>