<div class="container">
  <h1 class="main-heading">Jimmy</h1>
  <p class="subtitle">Your Gym Buddies Finder</p>
  <%= image_tag 'login.jpg', alt: 'Jimmy Logo', class: 'login-image' %>
  <p><%= button_to "Login with Google", "/auth/google_oauth2", data: { turbo: "false" } %></p>
</div>